{% extends 'layout.html' %}
{% block title %}
分类列表
{% endblock %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li><a href="/admin/categories">分类管理</a></li>
    <li class="active">修改分类</li>
</ol>
<div class="container-fluid">
    <div id="categoryUpdateBox">
        <div class="alert alert-success" role="alert" style="display: none;"></div>
        <div class="alert alert-danger" role="alert" style="display: none;"></div>
        <input type="hidden" name="categoryid" value="{{ categoryid }}" />
        <input type="text" class="form-control" name="categoryname" value="{{ categoryname }}" placeholder="请输入分类名称" />
        <div style="margin-top: 10px;">
            <button type="button" class="btn btn-default" onclick="updateCategory()"><i class="glyphicon glyphicon-plus"> 修改</i></button>
            <a class="btn btn-default" href="/admin/categories"><i class="glyphicon glyphicon-share-alt"> 返回列表页</i></a>
        </div>
    </div>
</div>
{% endblock %}