<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>禁止访问</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

    <script src="/public/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body style="background-color: #eee">
<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <p><h2>
            <i class="glyphicon glyphicon-warning-sign"></i>
            对比起，您没有权限访问，点击此处返回
            <a class="btn btn-primary btn-sm" href="/" style="margin-bottom: 5px;">首页</a>
        </h2></p>
    </div>
</div>
</body>
</html>