{% extends 'layout.html'%}
{% block title %}
首页
{% endblock %}

{% block main %}
<span style="text-align: center"><h3>{{ content.title }}</h3></span>
<p style="text-align: center">
    <span style="margin-right: 10px;">作者：<a href="/user_contents">{{ content.user.username }}</a></span>
    <span style="margin: 0px 10px;">阅读量：{{ content.views }}</span>
    <span style="margin: 0px 10px;">评论数：10</span>
    <span style="margin: 0px 10px;">创建时间：{{  content.createtime|date('Y-m-d H:i:s',-8*60) }}</span>
</p>
<p style="text-indent: 2em">
    {% autoescape %}{{ content.text }}{% endautoescape %}
</p>
<div class="comments">
    <div class="comments-send">
        <span>发表评论：</span>
    </div>
    {% if userInfo._id %}
    <textarea rows="3" class="form-control"></textarea>
    <div style="text-align: right; margin-top: 10px;"><button class="btn btn-primary">发表</button></div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        您尚未登录，<a href="javascript:" onclick="openLoginModal()" class="alert-link">请先登录</a>后再发表评论！
    </div>
    {% endif %}
    <div class="comments-list">
        <span>评论列表：</span>
    </div>
</div>
{% endblock %}