{% extends 'layout.html'%}
{% block title %}
文章详情
{% endblock %}

{% block main %}
<span style="text-align: center"><h3>{{ content.title }}</h3></span>
<p style="text-align: center">
    <span style="margin-right: 10px;">作者：<a href="/user_contents">{{ content.user.username }}</a></span>
    <span style="margin: 0px 10px;">阅读量：{{ content.views }}</span>
    <span style="margin: 0px 10px;">评论数：10</span>
    <span style="margin: 0px 10px;">创建时间：{{  content.createtime|date('Y-m-d H:i:s',-8*60) }}</span>
</p>
<p style="text-indent: 2em">
    {% autoescape %}{{ content.text }}{% endautoescape %}
</p>
<div class="comments">
    <div class="comments-send">
        <span>发表评论：</span>
    </div>
    {% if userInfo._id %}
    <!--<form id="sendform" action="/send_comment" method="post">-->
        <!--<textarea name="text_comment" rows="3" class="form-control" form="sendform"></textarea>-->
        <!--<input type="hidden" name="content_id" value="{{ content._id.toString() }}" />-->
        <!--<div style="text-align: right; margin-top: 10px;"><input type="submit" class="btn btn-primary" value="发表" /></div>-->
    <!--</form>-->

    <textarea name="comment" rows="3" class="form-control"></textarea>
    <input type="hidden" name="contentid" value="{{ content._id.toString() }}" />
    <div style="text-align: right; margin-top: 10px;"><input type="button" onclick="send_comment()" class="btn btn-primary" value="发表" /></div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        您尚未登录，<a href="javascript:" onclick="openLoginModal()" class="alert-link">请先登录</a>后再发表评论！
    </div>
    {% endif %}
    <div class="comments-list-title">
        <span>评论列表：</span>
    </div>
    <hr>
    <div class="comments-list">
        {% if content.comments %}
            {% for comment in content.comments.reverse() %}
                <div>
                    <img src="/public/images/avatar.png" width="32px" height="32px" />
                    <span>{{ comment.username }}</span>
                    <span>日期：{{ comment.createtime|date('Y年m月d日 H:i:s',-8*60) }}</span>
                    <p style="text-indent: 2em; margin-top: 10px">{{ comment.comment }}</p>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <p style="text-indent:2em;">该博文还没有评论，快去抢沙发吧</p>
        {% endif %}
    </div>
</div>
{% endblock %}