{% extends 'layout.html'%}
{% block title %}
首页——做自己的技术博客
{% endblock %}

{% block main %}
{% if contents %}
{% for content in contents %}
<div class="alert-gray">
    <strong>
        <a href="/detail?id={{ content.id }}">{{ content.title }}</a>
    </strong>
</div>
<div class="title-extend">
    <span style="margin-right: 10px;">作者：<a href="/user_contents">{{ content.user.username }}</a></span>
    <span style="margin: 0px 10px;">阅读量：{{ content.views }}</span>
    <span style="margin: 0px 10px;">分类：{{ content.category.categoryname }}</span>
    <span style="margin: 0px 10px;">创建时间：{{  content.createtime|date('Y-m-d H:i:s',-8*60) }}</span>
</div>
<p class="p2">{{ content.abstract }}</p>
<p class="p3"><a class="link-1" href="/detail?id={{ content.id }}">阅读全文</a></p>
<hr />
{% endfor %}
{% endif %}

{% if pageArr.length>0 %}
<nav style="text-align: center">
    <ul class="pagination" style="margin-bottom: 20px;">
        {% if page<=1 %}
        <li class="disabled">
            <a href="javascript:" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="/?category={{ category }}&page={{ page-1 }}" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        {% endif %}
        {% for num in pageArr %}
        <li><a href="/?category={{ category }}&page={{ num }}">{{ num }}</a></li>
        {% endfor %}

        {% if page>=pages %}
        <li class="disabled">
            <a href="javascript:" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="/?category={{ category }}&page={{ page+1 }}" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% else %}
<p class="p2">该分类下无文章显示</p>
{% endif %}
{% endblock %}