<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>让技术有自己的语言</title>
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>
<body>
    {% if userInfo._id %}
    <div class="rightBox" id="userInfo">
        <div class="title"><span>用户信息</span></div>
        <p><span class="colDark username">{{ userInfo.username }}</span></p>
        <p><span class="colDanger info"></span></p>
        <p><span class="colDark logout"><a href="javascript:" id="logoutBtn">退出</a></span></p>
    </div>
    {% else %}

    <div class="rightBox" id="loginBox">
        <div class="title"><span>登陆</span></div>
        <div class="line"><span class="colDark">用户名：</span><input name="username" type="text"><em></em></div>
        <div class="line"><span class="colDark">密码：</span><input name="password" type="password"><em></em></div>
        <div class="line"><span class="colDark"></span><button>登 录</button></div>
        <p class="textRight">还没注册？<a href="javascript:" class="colMint">马上注册</a></p>
        <p class="colWarning textCenter"></p>
    </div>

    <div class="rightBox" id="registerBox" style="display: none;">
        <div class="title"><span>注册</span></div>
        <div class="line"><span class="colDark">用户名：</span><input name="username" type="text"><em></em></div>
        <div class="line"><span class="colDark">密码：</span><input name="password" type="password"><em></em></div>
        <div class="line"><span class="colDark">确认：</span><input name="repassword" type="password"><em></em></div>
        <div class="line"><span class="colDark"></span><button>注 册</button></div>
        <p class="textRight">已有账号？<a href="javascript:" class="colMint">马上登录</a></p>
        <p class="colWarning textCenter"></p>
    </div>
    {% endif %}
</body>
</html>