{% extends 'layout.html'%}
{% block title %}
首页
{% endblock %}

{% block main %}
<section id="content">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
                    <div class="alert-gray">
                        <strong><a href="javascript:">文章一</a></strong>
                    </div>
                    <p class="p2">文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                        文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章
                        简介文章简介...</p>
                    <p class="p3"><a class="link-1" href="#">阅读全文</a></p>
                    <hr />
                    <div class="alert-gray">
                        <strong><a href="javascript:">文章二</a></strong>
                    </div>
                    <p class="p2">
                        文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                        文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章
                        简介文章简介...
                    </p>
                    <p class="p3"><a class="link-1" href="#">阅读全文</a></p>
                    <hr />
                    <div class="alert-gray">
                        <strong><a href="javascript:">文章三</a></strong>
                    </div>
                    <p class="p2">文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介
                        文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章
                        简介文章简介...</p>
                    <p class="p3"><a class="link-1" href="#">阅读全文</a></p>
                    <hr />
                    <div class="alert-gray">
                        <strong><a href="javascript:">文章四</a></strong>
                    </div>
                    <p class="p2">阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文
                        阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅
                        读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读全文阅读
                        全文阅读全文阅读全文阅读全文...</p>
                    <p class="p3"><a class="link-1" href="#">阅读全文</a></p>
                    <hr />
                </article>
                <article class="grid_4">
                    <div class="indent-left">
                        <div class="right-user">
                            <div class="prev-indent-bot" style="margin-left:40px;">用户信息</div>
                            {% if userInfo._id %}

                            <div id="userInfoBox" style="margin-top: 20px;">
                                <p>{{ userInfo.username }}，欢迎您！</p>
                                <p>您共发表过 12 次评论</p>
                                {% if userInfo.isAdmin %}
                                <p>您是管理员<a href="/admin">点击此处</a>可以登录管理后台</p>
                                {% endif %}
                                <p><a id="logout" href="javascript:">点击此处</a>退出登录</p>
                            </div>
                            {% else %}
                            <div style="margin-top: 20px;">您尚未登录，<a href="javascript:" onclick="openLoginModal()">点击此处</a>登录</div>
                            {% endif %}
                        </div>
                        <div class="right-new">
                            <div class="prev-indent-bot" style="margin-left:40px;">最新发表</div>
                            <ul class="list-1">
                                <li><a href="#">文章一</a></li>
                                <li><a href="#">Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </a></li>
                                <li><a href="#">文章二</a></li>
                                <li><a href="#">文章三</a></li>
                            </ul>
                            <a class="link-1 margin-left" href="#">更多</a>
                        </div>
                        <div class="right-hot">
                            <div class="prev-indent-bot" style="margin-left:40px;">最热发表</div>
                            <ul class="list-1">
                                <li><a href="#">文章一</a></li>
                                <li><a href="#">Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </a></li>
                                <li><a href="#">文章二</a></li>
                                <li><a href="#">文章三</a></li>
                            </ul>
                            <a class="link-1 margin-left" href="#">更多</a>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}