<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="javascript,css,nodejs,html5,blog" />
    <meta name="author" content="小皮蛋" />
    <link href="/public/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/login-register.css" />

    <link rel="stylesheet" href="/public/css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/public/css/grid.css" type="text/css" media="screen">

    <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/login-register.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
    <title>{% block title%}{% endblock %}</title>
</head>

<body id="page3">
<!--==============================header=================================-->
<header>
    <div class="border-bot">
        <div class="main">
            <h1><a href="index.html">isofteam</a></h1>
            <nav>
                <ul class="menu">
                    {% if category == '' %}
                    <li><a class="active" href="/">首页</a></li>
                    {% else %}
                    <li><a href="/">首页</a></li>
                    {% endif%}
                    {% if categories %}
                    {% for cate in categories %}
                        {% if category == cate._id %}
                        <li><a class="active" href="/?category={{ cate._id.toString() }}">{{ cate.categoryname }}</a></li>
                        {% else %}
                        <li><a href="/?category={{ cate._id.toString() }}">{{ cate.categoryname }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
</header>

<!--==============================content================================-->
<section id="content">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
                    {% block main %}{% endblock %}
                </article>
                <article class="grid_4">
                    <div class="indent-left">
                        <div class="right-user">
                            <div class="prev-indent-bot" style="margin-left:40px;">用户信息</div>
                            {% if userInfo._id %}
                            <div id="userInfoBox" style="margin-top: 20px;">
                                <p>{{ userInfo.username }}，欢迎您！</p>
                                <p>您共发表过 12 次评论</p>
                                {% if userInfo.isAdmin %}
                                <p>您是管理员<a href="/admin">点击此处</a>可以登录管理后台</p>
                                {% endif %}
                                <p><a id="logout" href="javascript:">点击此处</a>退出登录</p>
                            </div>
                            {% else %}
                            <div style="margin-top: 20px;">您尚未登录，<a href="javascript:" onclick="openLoginModal()">点击此处</a>登录</div>
                            {% endif %}
                        </div>
                        {% if newContents && newContents.length>0 %}
                        <div class="right-new">
                            <div class="prev-indent-bot" style="margin-left:40px;">最新发表</div>
                            <ul class="list-1">
                                {% for newContent in newContents %}
                                <li><a href="/detail?id={{ newContent.id }}">{{ newContent.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <a class="link-1 margin-left" href="/">更多</a>
                        </div>
                        {% endif %}
                        {% if hotContents && hotContents.length>0 %}
                        <div class="right-hot">
                            <div class="prev-indent-bot" style="margin-left:40px;">最热发表</div>
                            <ul class="list-1">
                                {% for hotContent in hotContents %}
                                <li><a href="/detail?id={{ hotContent.id }}">{{ hotContent.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <a class="link-1 margin-left" href="/">更多</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!--==============================footer=================================-->
<footer>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_3">
                    <div class="spacer-1">
                        <a href="index.html"><img src="/public/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="grid_5">
                    <div class="indent-top2">
                        <p class="prev-indent-bot">&copy; 2017 Interior <a rel="n>follow" href="http://www.isofteam.com/" target="_blank">小皮蛋工作室</a> | <a rel="nofollow" href="http://www.isofteam.com">isofteam</a></p>
                        QQ: 1289927096  Email: <a href="javascript:">lyh_oracle@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">用户登录</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a class="circle github" href="/auth/github">
                                <i class="fa fa-github fa-fw"></i>
                            </a>
                            <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                <i class="fa fa-google-plus fa-fw"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div id="loginBox" class="form loginBox">
                            <input class="form-control" type="text" placeholder="用户名" name="username">
                            <input class="form-control" type="password" placeholder="密码" name="password">
                            <button class="btn btn-default btn-login" value="login">登录</button>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div id="registerBox" class="content form registerBox" style="display:none;">
                        <input class="form-control" type="text" placeholder="用户名" name="username">
                        <input class="form-control" type="password" placeholder="密码" name="password">
                        <input class="form-control" type="password" placeholder="确认密码" name="repassword">
                        <button class="btn btn-default btn-register" value="login">注册</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>还没注册？
                                 <a href="javascript: showRegisterForm();">马上注册</a>
                            </span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>已有账号？</span>
                    <a href="javascript: showLoginForm();">马上登录</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>